#header {
	display: block;
	/*background: #7F3300;*/
	margin: 0;
	padding: 0;
}

#header ul {
	padding: 0px;
	border-bottom-width: 1px;
}

#header li {
	display: inline-block;
}

#header a {
	font-weight: bold;
	padding: 15px 30px;
	text-decoration: none;
}

/* Active link */

#header .active,
#header a:hover,
#header a:focus
{
	/*background-color: rgba(0, 0, 0, 0.2);*/
	background-color: #CCC; /* Same as broder color */
}

#header a:hover,
#header a:focus
{
	text-decoration: underline;
}
