*{ margin: 0; padding: 0;}

header
{
	height: 400px;
	top: 0px;
	background-color:#00F;
	display:block;
}

#logo
{
	background-color:#999;
	top: 100px;
	left: 30px;
	height: 290px;
	width: 300px;
	display:block;
}

