a {
  color: white;
  text-decoration: none;
  
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
}

a:hover {
  color: #428eff;
  text-decoration: underline;
  
  transition: all .5s ease;
  -moz-transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -ms-transition: all .5s ease;
}